@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slide-in-from-top;
  }
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
